/*
Monkeytype - Solar Theme
byun-sungwoo
*/

/* Variables */
:root {
	--purple-bg: rgba(72, 60, 108, .9);
	--black-bg: rgba(49,52,58,.9);
	--frost-bg: rgba(255,255,255,.1);
	--text-primary: rgb(249, 242, 133);
	--text-error: rgb(255, 33, 124);
}

/* Background/Colors/Font */
/* https://www.tutorialbrain.com/css_tutorial/css_font_family_list/ */
body {
	background: url(https://i.imgur.com/SL065eA.png) no-repeat center fixed;
	background-size: cover;
	font-family: "Courier New";
	font-weight: 500;
	overflow-x: hidden;
	--bg-color: var(--purple-bg);
	--main-color: var(--text-primary);
	--caret-color: var(--text-error);
	--sub-color: white;
	--text-color: var(--text-primary);
	--error-color: var(--text-error);
	--error-extra-color: var(--text-error);
	--colorful-error-color: var(--text-error);
	--colorful-error-extra-color: var(--text-error);
}
body:focus-within {
	animation-name: focused;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

/* Top Section */
#top {
	grid-template-columns: 1fr auto 1fr;
}
#top.focus {
	opacity: 0;
}
#top .logo .top {
	visibility: hidden;
}
#top .logo .top:after {
	content: 'Courier New';
	font-weight: 600;
	visibility: visible;
	display: block;
	position: relative;
	color: #FFA087;
}
#top .logo .bottom {
	visibility: hidden;
}
#top .logo .bottom:after {
	content: 'Solar';
	visibility: visible;
	display: block;
	color: var(--text-primary);
	position: relative;
	margin-top: -30px;
}
#top .logo .bottom:hover {
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 1));
}
.icon-button.account.view-account .text {
    display: none;
}
#startTestButton {
	padding-left: 15px;
}
#menu {
	backdrop-filter: brightness(.8) blur(5px);
	border-radius: 100px;
	width: 300px;
}
.config {
	backdrop-filter: brightness(.8) blur(5px);
	border-radius: 12.5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 225px;
}
.signOut {
	backdrop-filter: brightness(.8) blur(5px);
	border-radius: 12.5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 150px;
    text-align: center;
}
#menu:hover, .config:hover, .signOut:hover {
    backdrop-filter: brightness(.8) blur(5px);
	transition: 0.25s;
}

/* Middle Section */
#middle {
	background-color: rgba(255, 255, 255, 0);
    width: 1000px;
	padding: 0px;
	margin-left: auto;
	margin-right: auto;
}

/* Bottom Section */
#bottom {
	visibility: hidden;
}

/* Non Typing Pages */
.content {
	backdrop-filter: brightness(.8) blur(5px);
	padding: 15px;
	border-radius: 10px;
}
.page.pageAbout.active {
	backdrop-filter: brightness(.8) blur(5px);
	padding: 15px;
	border-radius: 10px;
}
div.page.pageSettings.active {
    backdrop-filter: brightness(.8) blur(5px);
	width: 955px;
	margin-top: 0px;
	margin-right: 100px;
	margin-bottom: 0px;
	border-radius: 10px;
	padding: 15px;
}
::-webkit-scrollbar {
	background: var(--purple-bg);
}
i.fas.fa-fw.fa-spin.fa-circle-notch:before {
    color: white;
    filter: drop-shadow(0 0 1rem white);
}

/* Typing */
#typingTest {
	position: absolute;
	top: 100px;
	width: 750px;
}
#wordsWrapper {
	border-radius: 13px;
}
#typingTest letter.correct  {
	animation-name: correct;
	animation-duration: 5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}
#typingTest letter.incorrect  {
	animation-name: incorrect;
	animation-duration: .25s;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}
.keymap {
    user-select: none;
	position: absolute;
	left: 380px;
	top: -300px;
	border: 3px solid #d0d0ce;
	padding-left: 10px;
	padding-right: 20px;
	border-radius: 13px;
	
	animation-name: floating;
	animation-duration: 16s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}
#result {
    backdrop-filter: brightness(.8) blur(5px);
	width: 1000px;
	border-radius: 12.5px;
	padding: 50px;
	
	animation-name: fade-in;
	animation-duration: .5s;
}
#wordsWrapper:hover {
    background-color: var(--frost-bg);
    cursor: pointer;
    transition: 0.25s;
}

/* Animations */
@keyframes correct {
/* 	to { opacity: 0; filter: blur(2px); } */
}
@keyframes incorrect {
    0%  { transform: scale(1); }
    50% { transform: scale(1.2); }
	to  { transform: scale(1); }
}
@keyframes floating {
    /*keyboard rgb*/
/*     0%  { transform: translate(0, 0px)  rotate(40deg); filter: drop-shadow(0 0 1rem rgb(255, 0, 0)) }
    25% { transform: translate(0, 30px) rotate(39deg); }
    33% { filter: drop-shadow(0 0 1rem rgb(0, 255, 0)) }
    50% { transform: translate(0, 0px)  rotate(40deg); }
    66% { filter: drop-shadow(0 0 1rem rgb(0, 0, 225)) }
	75% { transform: translate(0, 30px) rotate(41deg); }
	100%{ transform: translate(0, 0px)  rotate(40deg); filter: drop-shadow(0 0 1rem rgb(255, 0, 0)) } */
    
    /*keyboard pulse white*/
    0%  { transform: translate(0, 0px)  rotate(40deg); filter: drop-shadow(0 0 1rem white) }
    25% { transform: translate(0, 30px) rotate(38deg); filter: drop-shadow(0 0 .2rem white) }
    50% { transform: translate(0, 0px)  rotate(40deg); filter: drop-shadow(0 0 1rem white) }
	75% { transform: translate(0, 30px) rotate(42deg); filter: drop-shadow(0 0 .2rem white) }
	100%{ transform: translate(0, 0px)  rotate(40deg); filter: drop-shadow(0 0 1rem white) }
}
@keyframes fade-in {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes focused {
	to {
		backdrop-filter: brightness(.35) blur(5px) grayscale(.25);
		filter: drop-shadow(0 0 1rem white);
	}
}
